$primary-color: #007bff;
$secondary-color: #555555;
$success-color: #10ec11;
$bg-light-color: #f8f9fa;
$bd-color: #FFD700;

.no-scroll {
  overflow-y: hidden;
}

body.login-body {
  @extend .no-scroll;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 50px; /* Ajuste conforme necessário */
  margin-right: 10px; /* Adiciona um espaçamento à direita do logo, ajuste conforme necessário */
}

.login-body {
  background-color: $bg-light-color;
  height: 100vh;
}

.card {
  background-color: transparent;
  border-color: $bd-color;
  border-width: 2px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  height: 450px; /* Altura fixa para o card */
}

// .card {
//   background-color: transparent;
//   border-color: #F2CD5C;
//   border-width: 2px;
//   box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
//   width: 90%; /* Ajuste a largura conforme necessário */
//   margin: 40px auto; /* Centralize o card na tela e adicione margens superior e inferior */
//   max-height: 100vh; /* Ajuste a altura máxima conforme necessário */
// }

.card-body-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: left;
  padding-top: 0.25rem;
  margin-bottom: 0;
  border-color: $bd-color;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container-fluid {
  color: $primary-color;
  font-size: large;
  padding-top: 0rem;
}

.mb-1 {
  color: $primary-color;
  font-size: medium;
}

.form-control {
  background-color: transparent;
  border-color: $primary-color;
  &.error-border {
    border-color: #ff0000;
  }
}

.btn1 {
  background-color: #F2CD5C;
  border-color: #000;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 8px;
}

.btn2 {
  background-color: #fff;
  border-color: #F2CD5C;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

.d-flex {
  margin-bottom: 2px;
}

.error-message {
  color: #ff0000;
  font-size: small;
  margin-top: 4px;
}
