<body class="login-body">
  <div class="container-fluid">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card shadow round mt-1">
          <div class="card-header">
            <div class="logo-container d-flex align-items-center">
              <img
                class="logo"
                src="assets/img/icon_logo.png"
                alt="Logo KBANK"
              />
              <h1><b>Login</b></h1>
            </div>
          </div>

          <!-- ======= FORM LOGIN ======= -->
          <div class="card-body">
            <form [formGroup]="formLogin">
              <div class="mb-3">
                <label>CPF:</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-person"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cpf"
                    [class.error-border]="
                      loginClicado && formLogin.controls['cpf'].invalid
                    "
                    placeholder="{{
                      loginClicado &&
                      formLogin.controls['cpf'].hasError('required')
                        ? 'Campo obrigatório.'
                        : ''
                    }}"
                  />
                </div>
                <div
                  *ngIf="
                    loginClicado && formLogin.controls['cpf'].hasError('cpf')
                  "
                  class="error-message"
                >
                  CPF inválido.
                </div>
              </div>

              <div class="mb-3">
                <label>Senha:</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-lock"></i
                  ></span>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    [class.error-border]="
                      loginClicado && formLogin.controls['password'].invalid
                    "
                    placeholder="{{
                      loginClicado &&
                      formLogin.controls['password'].hasError('required')
                        ? 'Campo obrigatório.'
                        : ''
                    }}"
                  />
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn1" (click)="login()">
                  LOGIN
                </button>
                <button class="btn btn2" routerLink="/sign-up">SIGN-UP</button>
              </div>

              <div *ngIf="mensagemErro" class="error-message">
                {{ mensagemErro }}
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="assets/img_bg/4.jpg"
          class="w-100 rounded-4 shadow-4"
          alt="img bank"
        />
      </div>
    </div>
  </div>
</body>
