$primary-color: #007bff;
$secondary-color: #555555;
$success-color: #10ec11;
$bg-light-color: #f8f9fa;
$bd-color: #ffd700;

.no-scroll {
  overflow-y: hidden;
}

body.signup-body {
  @extend .no-scroll;
}

.card {
  background-color: transparent;
  border-color: #f2cd5c;
  border-width: 2px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 40px auto;
  max-height: 100vh;
}

.card-body {
  padding: 20px;
}

.card-header {
  background-color: transparent;
  border-bottom: 2px solid #f2cd5c;
  padding: 10px;
}

.logo {
  max-height: 50px;
  margin-right: 10px;
}

h1 {
  font-size: 1.5rem;
  text-align: left;
  padding-top: 0.25rem;
  margin-bottom: 0;
}

.container-fluid {
  color: #000000;
  font-size: large;
  padding-top: 0rem;
}

.form-control {
  background-color: transparent;
  border-color: $primary-color;
  &.error-border {
    border-color: #ff0000;
  }
}

.btn1 {
  background-color: #f2cd5c;
  border-color: #000;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 8px;
}

.btn2 {
  background-color: #fff;
  border-color: #f2cd5c;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

.d-flex {
  margin-bottom: 2px;
}

.error-message {
  color: #ff0000;
  font-size: small;
  margin-top: 4px;
}

.input-group-text {
  border-color: #007bff;
  color: #007bff;
  background-color: transparent;
}
